@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body {
    
    font-family: 'Oxanium', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-feature-settings: "kern";
    

}


.css-text2 {
    animation: shine 2s linear infinite alternate;;
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.125rem #fff;
    
    mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    position: relative;
    /* letter-spacing: 0px; */
    /* line-height: 100%; */
    
    /* font-size: rem; */
    font-weight: 800;
}


.css-text3 {
    
    animation: shine 2s linear infinite alternate;;
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.125rem #fff;
    
    mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    
    
    font-weight: 900;

    
}




@keyframes shine {
    0% {
        -webkit-mask-position: 150%;
    }
    100% {
        -webkit-mask-position: -50%;
    }
}


.nav2-text {
    position: relative;
    /* margin-right: 1rem; */
    font-family: 'Oxanium', cursive;
    font-weight: 800;
    line-height: 100%;
    cursor: pointer;
    background-position: center bottom;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s ease-in;
}

.nav2-text:hover,
.nav2-text.active {
    background-size: 100% 100%;
    -webkit-text-stroke:0.1px #fff;
}
.nav2-link {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: 1rem;
    background-image: linear-gradient(#fff,#fff);
    background-color: #3b82f6;
    /* background-color: #2563eb; */
    -webkit-text-stroke: 0.125rem #fff;
}
/* .nav2-text {
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    background-size: 100% 0%; 
    background-image: linear-gradient(#fff,#fff); 
    transition: .3s ease-in;
    
}  */

/* .nav2-text:hover{
    background-size: 100% 100%;

} */

/* .nav2-text {
    position: relative;
    margin-right: 1rem;
    font-family: 'Oxanium', cursive;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 100%;
    cursor: pointer;
    color: #fcfcfc;
    background-image: linear-gradient(#fff,#fff);
    background-color: #3b82f6;
    background-position: center bottom;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    -webkit-text-stroke: 1px #f3f4f6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s ease-in;
}*/


.nav_showcase {
    animation: nav_burst-in  .55s ease-in-out forwards;
    gap: 2rem;
    position: absolute; 
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 100px 0 100px 100px;
    z-index: -10;
    opacity: 0;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    
    
} 



@keyframes nav_burst-in {
    0% {
        border-radius: 100px 0 100px 100px;
        padding: 0;
        z-index: -10;
        opacity: 0;
        background-color: #bfdbfe;
        /* background-color: #bae6fd; */
        
    }

    1% {
        width: 50px;
        height: 50px;
        border-radius: 100px 0 100px 100px;
        opacity: .5;
    }

    100% {
        width: 100%;
        /* height: max-content; */
        height: 100vh;
        overflow: hidden;
        top: 0;
        right: 0;
        padding: 6.5rem 2.5rem;
        border-radius: 0;
        z-index: 9;
        opacity: 1;
        transform: scale(1);
        background-color: #3b82f6;
        /* background-color: #2563eb; */
        
    }
}

.nav-css {
    position: fixed;
}




h2 {
    display: block;
}

.css-text {
    font-family: 'Oxanium', cursive;
    font-style: normal;
    
}

/* .nav-css {
    position: fixed;
} */

.bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
}

.logo img{
    width: 45px;
}



@media screen and  (max-width:767px) {
    
    .nav-padding {
        padding: 1.5rem 0rem 1.5rem 0rem;
    }

    .hamburger {
        width: 35px;
        height: 25px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background: none;
        border: none;
        appearance: none;
        z-index: 10;
        transition: 0.25s;
        transition: background .35s ease-in-out;
        /* background: #fff; */
    }

    .Gradient {
        border-radius: 9999px;
        /* width: 150px;
        height: 150px; */
        width: 100px;
        height: 100px;
        background: #2164f3;
        opacity: 0.5;
        position: absolute;
        /* top: 960px; */
        top: 800px;
        filter: blur(70px);
        bottom: 0;
        right: 0;
        
    }
    
    .Gradient ::before, ::after{
        border-color: #e2e8f0;
    }

    .col-11 {
        width: 91.66666663%;
    }

    .developer-image {
        position: relative;
        width: 15rem;
        /* width: 70%; */
        height: 20rem;
        /* object-fit: cover; */
    }

    .developer-image::before {
        position: absolute;
        content: ' ';
        /* right: -30px;
        top: 30px; */
        /* border: 2px solid #2164f3; */
        border: 2px solid rgb(29, 112, 238);
        width: 100%;
        height: 100%;
    }
    
    .developer-image img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        right: -15px;
        top: 15px;
    }



}



@media screen and  (min-width:767px) {
    .developer-image{
        /* width: 25rem;
        height: 33rem; */
        width: 80%;
        height: 33rem;
        object-fit: cover;
        position: relative;
        
        /* object-fit: cover; */
    }
    .developer-image::before {
        position: absolute;
        content: ' ';
        /* right: -30px;
        top: 30px; */
        border: 3px solid rgb(29, 112, 238);
        width: 100%;
        height: 100%;
    }
    
    .developer-image img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        right: -30px;
        top: 30px; 
    }
}

@media screen and  (min-width:1280px) {
    .developer-image{
        /* width: 25rem;
        height: 33rem; */
        width: 60%;
        height: 35rem;
        object-fit: cover;
        position: relative;
        
        /* object-fit: cover; */
    }
    .developer-image::before {
        position: absolute;
        content: ' ';
        /* right: -30px;
        top: 30px; */
        border: 3px solid rgb(29, 112, 238);
        width: 100%;
        height: 100%;
    }
    
    .developer-image img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        right: -30px;
        top: 30px; 
    }
}

@media screen and  (max-width:1150px) {
    .img-container {
        
        width: auto;
        height: auto;
        
        align-items: flex-end;
    }
    
    .img-container img{
        
        /* border-radius:25rem 25rem 0 0; */
        border: 1px solid #374151;
        width: auto;
        height: auto;
        object-fit: cover;
    }

    

    .card-icon img{
        height: 1.5rem;
        width: 1.5rem;
    }



    .Gradient2 {
        border-radius: 9999px;
        /* width: 150px;
        height: 150px; */
        width: 100px;
        height: 100px;
        background: #2164f3;
        opacity: 0.5;
        position: absolute;
        /* top: 960px; */
        top: 700px;
        filter: blur(30px);
        bottom: 0;
        right: 0;
        
    }

    /* .project-gradient1 {
        top: 2950px;
    }
    
    .project-gradient2{
        top: 3750px;
    } */

    
}

@media screen and (min-width:1150px) {
    .img-container {
        width: 35rem;
        height: 40rem;
        
        align-items: flex-end;
    }
    
    .img-container img{
        /* border-radius:25rem 25rem 0 0; */
        border: 2px solid #374151;
        width: 100%;
        height: 100%;
        
        object-fit: cover;
    }

    

    .col-9 {
        width: 60%;
    }
    
    .card-icon img{
        height: 2rem;
        width: 2rem;
    }

    .Gradient2 {
        border-radius: 9999px;
        /* width: 150px;
        height: 150px; */
        width: 100px;
        height: 100px;
        background: #2164f3;
        opacity: 0.5;
        position: absolute;
        /* top: 960px; */
        top: 800px;
        filter: blur(50px);
        bottom: 0;
        right: 0;
        
    }


}



@keyframes wave {
    0% {
        transform: rotate(-15deg);
    }
    
    5% {
        transform: rotate(30deg);
    }
    
    10% {
        transform: rotate(-15deg);
    }
    
    15% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(0);
    }
    
}


.peace {
    display: inline-block;
    animation: wave 5s ease-in-out 3s infinite;
    transform-origin: bottom;
}


.hamburger .hamburger-top {
    top: 0;
    width: 50%;
    transform-origin: 0 5px;
    transition: all 0.5s;
}

.hamburger .hamburger-middle {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.hamburger .hamburger-bottom {
    bottom: 0;
    left: 50%;
    width: 50%;
    transform-origin: -13% 24px;
    transition: all 0.5s;
    background-color: #3b82f6;
}
.nav-line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    
    margin-block: auto;
    border-radius: 50px;
}

.open .hamburger-top{
    transform: translateY(50%) rotate(45deg);
    width: 80%;
    
}





.open .hamburger-middle{
    width: 0;
    
}

.open .hamburger-bottom{
    transform: translateY(-50%) rotate(-45deg);
    width: 80%;
    background-color: #fff;
}

/* @keyframes nav_burst-in {
    0% {
        border-radius: 100px 0 100px 100px;
        padding: 0;
        z-index: -10;
        opacity: 0;
        background-color: #bfdbfe;
    }

    1% {
        width: 50px;
        height: 50px;
        border-radius: 100px 0 100px 100px;
        opacity: 0.5;
    }

    100% {
        width: 100%;
        /* height: max-content; *
        height: 100vh;
        overflow: hidden;
        top: 0;
        right: 0;
        padding: 6.5rem 2.5rem;
        border-radius: 0;
        z-index: 9;
        opacity: 1;
        transform: scale(1);
        background-color: #3b82f6;
        /* background-color: #000000; 
    }
} */

.greetings {
    font-family: 'Oxanium', cursive;
    font-weight: 600;
}

.greetings .name {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 600;
}

.btn1 {
    margin-right: 20px;
}

.Gradient {
    border-radius: 9999px;
    width: 150px;
    height: 150px;
    background: #2164f3;
    opacity: 0.5;
    position: absolute;
    /* top: 960px; */
    filter: blur(70px);
    bottom: 0;
    right: 0;
    
    
} 

.col-1{
    width: 8.33333333%;
}



.font-1{
    font-family: 'Oxanium', cursive;
}

.skill-color {
    color:#7ee787;
}


.icon1-gradient {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
    /* height: 30px !important;
    width: 30px !important; */
    background-color: #7ee787;
    filter: blur(18px);
    z-index: -1 !important;
    transform: translateZ(0);
}

.icon-padding {
    padding: 2px;
}
.icon i {
    
    color: #fff;
    font-size: 1.5rem;
    
    
    
}

.Gradient ::before, ::after{
    border-color: #e2e8f0;
}

.flex-items-center {
    align-items: center !important;
}

.background {
   background: linear-gradient(#56d364, #2ea043,#0d1117);
   transition-delay: 500ms;
}

.build-in-scale-top {
    transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: 0 0;
}

.home-campaign-git-line {
    width: 2px;
}

.height-full {
    height: 100% !important;
}

.rounded {
    border-radius: 0.4rem;
}


.card {
    overflow: hidden;
    padding: 0;
}
.card-icon {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* height: 4rem;
    width: 4rem; */
}

/* .card-icon img{
    height: 1.5rem;
    width: 1.5rem;
} */

.card-text {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.card-text p{
    padding: 0;
    line-height: 1.5;
    color: #4b5563;
}

.background2 {
    /* height: 160px; */
    background: linear-gradient(#0d1117, #ea6045, #ffa28b);
}

.background2b {
    background: linear-gradient( #ffa28b,#ea6045, #0d1117);
}



.bg3b{
    background: linear-gradient(rgb(79, 183, 252), rgb(29, 112, 238),#0d1117 );
}

.bg3{
    background: linear-gradient(#0d1117,  rgb(29, 112, 238), rgb(79, 183, 252) );
}




.skill-color2 {
    color: #ffa28b;
}

.About-color{
    color: rgb(79, 183, 252);
}

.icon2-gradient {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
    background-color: #ffa28b;
    filter: blur(18px);
    z-index: -1 !important;
    transform: translateZ(0);
}

.icon3-gradient {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
    
    background-color: rgb(79, 183, 252);
    filter: blur(18px);
    z-index: -1 !important;
    transform: translateZ(0);
}

.img-container2 {
    
}

.img-container2 img{
    border-radius:0.65rem 0.65rem 0 0;
    
    object-fit: cover;
}



.hover-line {
    display: inline-block;
    /* padding-bottom: 0.25rem; */
    position: relative;
    border-radius: 2rem;
}

.hover-line::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    
    
    background-color: rgb(0, 255, 0);
    transition: width 0.25s ease-out;
}

.hover-line:hover::before {
    width: 100%;
}

.about-css i {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #56d364;
}

.about-heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 


.about-heading span{
    background-color: #56d364;
    display: inline-block;
    text-align: center;
    
} 

.social-ul{
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* .socials-text {
    /* animation: shine 2s linear infinite alternate; *
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.125rem #fff;
    
    mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    
    
    font-weight: 800;
} */

.social-ul-lg {
    display: flex;
    justify-content: flex-end;
}

.social-media {
    position: relative;
    margin-right: 1rem;
    font-family: 'Oxanium', cursive;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 100%;
    cursor: pointer;
    color: #fcfcfc;
    background-image: linear-gradient(#fff,#fff);
    background-color: transparent;
    background-position: center bottom;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    -webkit-text-stroke: 1px #f3f4f6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s ease-in;

    
}

.social-media:hover{
    background-size: 100% 100%;
    -webkit-text-stroke: 0.1px  #fff;
}

/* .nav2-text {
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    
    
}  */


/* .social-media:hover{
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke:  #fff;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
} */





.btn {
    position: relative;
    cursor: pointer;
    
}

.btn.btn-hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #000;
    border-radius: 7px;
    border: #d1d5db 1px solid;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn-hover:hover::before,
.btn.btn-hover:focus::before {
    transform: scaleX(1);
}

.btn.btn-hover{
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.btn.btn-hover:hover,
.btn.btn-hover:focus {
    color: #fff;
}